body {
    background-image: url("background.png");
    background-position: center;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-attachment: fixed;
}

.hire {
    margin-left: 10%;
    margin-top: 25%;
}

.btn-1 {
    margin-left: 10%;
    cursor: pointer;
    margin-top: 2%;
}

.btn-1:hover {
    background-color: blueviolet;
}

.btn-2 {
    margin-left: 21%;
    cursor: pointer;
    position: absolute;
    margin-top: -2%;
}

.btn-2:hover {
    background-color: blueviolet;
}
