body{
    background-color: #f0f0f0;
}
.navbar{
    width: 100%;
    height: 120%;
}
.nav{

    margin: 0% 0% 0% 5%;
    font-size: 20px;
    font-weight: 600;
}
.nav:hover{
    cursor: pointer;
}
.mid-head{
    display: flex;
    justify-content: space-between;
    margin: 0% 10% 0% 6%;
}
.mid-head h1{
    font-size: 45px;
font-weight: 650;
margin: 0% 0% 0% 0%;
}
.btn{
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}
.btns-1:hover{
    color: white;
    background-color: blue;
}
.btns-2:hover{
    color: white;
    background-color: blue;
}
.mid-mid-head{
    display: flex;
    justify-content: space-between;
    margin: 2% 55% 0% 6%;
    font-size: 20px;
    padding: 0% 0% 0% 0%;
    font-weight: 600;
}
.mid-mid-head p1:hover, .mid-mid-head p2:hover, .mid-mid-head p3:hover, 
.mid-mid-head p4:hover, .mid-mid-head p5:hover{
cursor: pointer;
text-decoration: underline blue;
}
.input1{
    width: 87.5%;
    margin: 2% 0% 0% 6%;
    font-size: 20px;
    padding: 0.5% 0% 0.5% 1%;
    border: 1px solid rgba(128, 128, 128, 0.808);
}
.mid-mid-foot{
    background-color: white;
    width: 88%;
    height: 500px;
    margin: 4% 5% 0% 6%;
    text-align: center;
}
.link:hover{
    text-decoration: none;
    color: cornsilk;
}
.bbtn1{
    margin: 2% 0% 0% 0%;
}
.bbtn2{
    margin: 2% 0% 0% 0%;
}
.btn-foot{
    font-size: 20px;
    width: 30%;
    height: 20%;
    background-color: #f7f7f7;
    color: rgb(44, 44, 231);
    font-weight: 500;
    outline: none;
    border: none;
    padding: 0% 0% 1% 0%;
}
.img1{
    margin: 5% 0% 0% 0%;
}

.background{
    background-color: rgb(24,28,44);
    height: 100%;
    width: 100%;
    margin: 5% 0% 0% 0%;
    padding: 2% 0% 0% 0%;
}
.main-div{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 12%;
    color: white;
    padding-top:1% ;
    padding-bottom: 3%;
}
.logo{
    margin-left: 4%;
}
.gl{
    margin-top: 10%;
}
.web-name{
    position: absolute;
    margin: -4% 0% 0% 3.5%;
    font-size: 30px;
    color: white;
}
.logo-main{
    height: 35%;
    width: 40%;
    margin-left:-15% ;
    color: white;
}
.heading-1,.heading-2,.heading-3,.heading-4{

    color: white;
    font-size: 20px;
}
.ab{
    font-size: 16px;
}
.last{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    font-size: 10px;
}
.copyright{
    font-size:small;
    margin-right: 7%;
    color: white;
    font-size: 10px;
}